{% extends 'base/base.html' %}

{% block content %}

<!-- Banner Section -->
{% include "core/about/banner.html" %}

<!-- Our Story Section -->
{% include "core/about/ourstory.html" %}

<!-- Message From CEO Section -->
{% include "core/about/message.html" %}

<!-- Our Values Section -->
{% include "core/about/ourvalues.html" %}

<!-- Capability Section -->
{% include "core/about/capability.html" %}

<!-- By the Numbers Section -->
{% include "core/about/bythenumber.html" %}



{% endblock content %}















