{% extends 'base/base.html' %}

{% block content %}

<!-- Page Banner -->
{% include 'core/craft/banner.html' %}

<!-- Handmade Paper Section-->
{% include 'core/craft/paper.html' %}

<!-- Pashmina Section -->
{% include 'core/craft/pashmina.html' %}

<!-- Statues Section -->
{% include 'core/craft/statue.html' %}

<!-- Herbals Section -->
{% include 'core/craft/herbals.html' %}

<!-- Quality Section -->
{% include 'core/craft/quality.html' %}

<!-- Gallery Section -->
{% include 'core/craft/gallery.html' %}







{% endblock content %}